# Dependencies
/vendor/
/node_modules/

# Logs
npm-debug.log
yarn-error.log

# Laravel specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
/bootstrap/ssr
/public/fonts-manifest.dev.json
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder

# Environment & Config
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
auth.json

# IDE, Editor & OS files
.DS_Store
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.vagrant

# Cache & Build
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
/public/build
/storage/pail
/storage/*.key